/**index**/
.navbar-brand{
    font-style: italic;
    font-family: fantasy;
    font-size: 40px;
}

.carousel{
    width:800px;
    height: 600px;;
    display: block;
    margin-left: 250px;
    
    
}
.carousel-caption{
    color: black;
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(230, 239, 245, 0.664);
}
.walletext{
    padding: 40px;
    padding-right: 80px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 40px;
    font-size: smaller;
    font-weight: bolder;
}
/**login**/

.contenedor{
    max-width: 400px;
    padding: 40px;
    }

/**sendmoney**/
.sendMoney{
    margin: 30px;
    padding: 30px,30px,40px,40px;
    
}
/**transactions**/
.contentTrans{
    padding: 40px;

}
/**deposit***/
.btn_menu{
    padding: 40px;
    width: 300px;
}
footer{
    padding: 30px;
}
/** menu**/
.menuAcciones{
    padding: 30px;
}